{% extends "FOSUserBundle::layout.html.twig" %}

{% form_theme form theme %}

{% block body_menu %}
{% include "FTFSUserBundle::body_menu.html.twig" %}
{% endblock %}

{% block body_content %}
<form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <legend>New Group</legend>
    <fieldset>
    {{ form_widget(form) }}
    </fieldset>
    <div class="form-actions">
        <input class="btn btn-primary" type="submit" value="{{ 'group.new.submit'|trans([], 'FOSUserBundle') }}" />
    </div>
</form>
{% endblock %}
