{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
<h3>
    Notifications 
    <a href="{{ path('ftfs_notificationbundle_dashboard_clear_system_notification') }}" class="pull-right btn">clear all</a>
</h3>
<hr>
<p>
{% if notifications is defined and notifications | length > 0 %}
    <ul>
    {% for notification in notifications %}
        <li class="alert alert-info">{{ notification.message }}</li>
    {% endfor %}
    </ul>
{% else %}
    No notifications !
{% endif %}
</p>
{% endblock %}
