{% extends "::base.html.twig"%}

{% block navbar_menu %}
    <ul class="nav">
        <li><a href="{{ path('FTFSDashboardBundle_homepage') }}">Home</a></li>
        {% if is_granted('ROLE_CLIENT') %}
        {# if client, no view of admin #}
        {% elseif is_granted('ROLE_ADMIN') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Service 
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('ftfs_servicebundle_homepage') }}">Assistance Service</a></li>
                <li><a href="#">Repaire/Change Service</a></li>
                <li><a href="#">Maintainance Service</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Asset</a>
        </li>
        <li>
            <a href="#">Product</a>
        </li>
        <li>
            <a href="{{ path('FTFSUserBundle_user_index') }}">User</a>
        </li>
        {% endif %}
        <li>
            <a href="#">Help</a>
        </li>
    </ul>
{% endblock %}


{% block body %}
    <div class="row-fluid">
        <div id="menu" class="span3">
        <ul class="nav nav-list well">
        {% block body_menu %}
            <li class="nav-header">List header</li>
            <li class="active"><a href="#"><i class="icon-home"></i>Home</a></li>
            <li><a href="#"><i class="icon-home"></i>Home</a></li>
            <li><a href="#"><i class="icon-home"></i>Home</a></li>
            <li><a href="#"><i class="icon-home"></i>Home</a></li>
            {% include '::menu.html.twig' %}
        {% endblock body_menu %}
        </ul>
        </div>
        <div id="content" class="span9" style="overflow:auto;">
        {% block body_content %}
            <p>bienvenue !!! </p>
        {% endblock body_content %}
        </div>
    </div>
{% endblock body %}
