{% block menu_content %}
    <li class="nav-header">Help</li>
    <li><a href="#"><i class="icon-book"></i> Wiki</a></li>
    <li><a href="#"><i class="icon-question-sign"></i> Help</a></li>
{% endblock %}
