<ul class="nav nav-list well">
    <li class="nav-header">Profile</li>
    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit"></i> Modify Profile</a></li>
    <li><a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> Change Password</a></li>
    <li class="nav-header">Preference</li>
    <li><a href="#"><i class="icon-wrench"></i> Preference</a></li>
</ul>
