<li class="nav-header">Profile</li>
<li class="navmenu-item"><a href="{{ path('fos_user_profile_show') }}"><i class="icon-user"></i> User Profile</a></li>
<li class="navmenu-item"><a href="{{ path('fos_user_profile_edit') }}"><i class="icon-edit"></i> Modify Profile</a></li>
<li class="navmenu-item"><a href="{{ path('fos_user_change_password') }}"><i class="icon-lock"></i> Change Password</a></li>
<li class="nav-header">Preference</li>
<li class="navmenu-item"><a href="{{ path('merk_notification_user_preferences') }}"><i class="icon-wrench"></i> Preference</a></li>
