{% extends "FTFSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<a href="#">Change Profile</a>
<a href="#">Change Password</a>
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}
