{% extends '::menu.html.twig' %}
{% block menu_content %}
    {% block dash_menu_content %}
    {% endblock %}
    <li class="nav-header">My Notifications</li>
    {# draft, opened #}
    <li class="navmenu-item navmenu-item-notification-countable"><a href="{{ path('ftfs_dashboardbundle_homepage') }}"><i class="icon-envelope"></i> My Notification Center <span class="pull-right badge badge-success" url="{{ path('ftfs_notificationbundle_dashboard_get_notification_count') }}">{% if app.session.has('counter-notification') %}{{ app.session.get('counter-notification') }}{% else %}...{% endif %}</span></a></li>
    
    {{ parent() }}
{% endblock %}
