{% extends 'FTFSCrudBundle:Crud:crud_box.html.twig' %}

{% block crud_box_index_title_filter %}
    <div class="pull-left">
        <select id="ticket-filter" class="btn span10">
            <option value="0">&lt;Service Type&gt;</option>
        {% for service in services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
        {% endfor%}
        </select>
    </div>
    <div class="pull-left">
        <span class="input-prepend"><span class="add-on">from</span><input class="span2" type="text"></span>
        <span class="input-prepend"><span class="add-on">to</span><input class="span2" type="text"></span>
        <span><a href="" class="btn btn-primary"><i class="icon-download-alt icon-white"></i></a></span>
    </div>
{% endblock %}

{% block crud_box_index_content %}
{% include 'FTFSDashboardBundle:MyService:crud_box_index_table.html.twig' %}
{% endblock %}
