{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
    {% if is_granted('ROLE_AGENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_agent.html.twig'%}
    {% elseif is_granted('ROLE_CLIENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_client.html.twig'%}
    {% else %}
        <h1> error : you have to have role_client or role agent in order to create a new service ticket !</h1>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
    //  devices related
        $(document).ready(function () {
            var collectionHolder = $('ul.devices');

            // delete link for existing device
            collectionHolder.find('li').each(function() {
                addDeviceFormDeleteLink($(this));
            });

            var devicesHolder = $('#ftfs_servicebundle_serviceticket_form_devices').parent().parent().parent().after('<div></div>');
            collectionHolder.appendTo(devicesHolder);
            var $addDeviceLink = $('<a href="#" class="add_device_link">Add a device</a>');
            var $newLinkLi = $('<li></li>').append($addDeviceLink);
            collectionHolder.append($newLinkLi);
            $addDeviceLink.click(function(e) {
                e.preventDefault();
                addDeviceForm(collectionHolder, $newLinkLi);
            });
        });
        function addDeviceForm(collectionHolder, $newLinkLi) {
            var prototype = collectionHolder.attr('data-prototype');
            var index = collectionHolder.children().length;
            var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
            //alert(newForm);
            //alert($('input#ftfs_servicebundle_serviceticket_form_devices_'+index+'_location').parent().html());
            addTypeaheadLocation($('input#ftfs_servicebundle_serviceticket_form_devices_'+index+'_location'));
            // delete link for new added device
            addDeviceFormDeleteLink($newFormLi);
        }
        function addDeviceFormDeleteLink($newFormLi) {
            var $removeFormA = $('<a href="#">Delete this device</a><hr>');
            $newFormLi.prepend($removeFormA);
            $removeFormA.click(function(e) { 
                e.preventDefault();
                $newFormLi.remove();
            });
        }


        // form submitting
        function form_submit(mode) {
            form = document.forms["{{ prefix~'_form' }}"],
            form.mode.value = mode;
            form.submit();
        }

    </script>
{% endblock %}
