{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
    {% if is_granted('ROLE_AGENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_agent.html.twig'%}
    {% elseif is_granted('ROLE_CLIENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_client.html.twig'%}
    {% else %}
        <h1> error : you have to have role_client or role agent in order to create a new service ticket !</h1>
    {% endif %}
{% endblock %}
