{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
    {% if is_granted('ROLE_AGENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_agent.html.twig'%}
    {% elseif is_granted('ROLE_CLIENT') %}
        {% include 'FTFSDashboardBundle:MyService:new_content_client.html.twig'%}
    {% else %}
        <h1> error : you have to have role_client or role agent in order to create a new service ticket !</h1>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
    //  devices related
        $(document).ready(function () {
            var collectionHolder = $('div.device');

            var devicesHolder = $('#ftfs_servicebundle_serviceticket_form_devices').parent().parent().parent().after('<div></div>');
            collectionHolder.appendTo(devicesHolder);

            $firstLinkLi = addDeviceForm(collectionHolder, collectionHolder, false);

            $('div#ftfs_servicebundle_serviceticket_form_devices').parent().parent().hide();
        });

        // add a form after $newLinkLi
        function addDeviceForm(collectionHolder, $newLinkLi, removable) {
            var prototype = collectionHolder.attr('data-prototype');
            var index = collectionHolder.children().length;
            var newForm = prototype.replace(/\$\$name\$\$/g, index);
            var $newFormLi = $('<div></div>').append(newForm);
            $newLinkLi.before($newFormLi);
            //alert(newForm);
            //alert($('input#ftfs_servicebundle_serviceticket_form_devices_'+index+'_location').parent().html());
            addTypeaheadLocation($('input#ftfs_servicebundle_serviceticket_form_devices_'+index+'_local_site'));
            addTypeaheadLocation($('input#ftfs_servicebundle_serviceticket_form_devices_'+index+'_remote_site'));
            // delete link for new added device
            if(typeof removable === 'undefined') {
                removable = true;
            }
            if(removable) {
                addDeviceFormDeleteLink($newFormLi);
            }
            return $newFormLi;
        }

        // form submitting
        function form_submit(mode) {
            form = document.forms["{{ prefix~'_form' }}"],
            form.mode.value = mode;
            form.submit();
        }

    </script>
{% endblock %}
