{% extends 'FTFSDashboardBundle:MyService:new_content.html.twig' %}

{% block crud_form %}
    <input type="hidden" id="role" name="role" value="agent">
    <input type="hidden" id="mode" name="mode" value="save_open">
    <div class='device' data-prototype="{{ form_widget(form.devices.vars.prototype)|e }}">
    </div>
    {{ parent() }}
{% endblock %}

