<p>Dear Sir/Madam,<p>
<p>
I am glad to invite you to inscribe into our Support Service site. Please follow the link below to complete your inscription process.
<br>
loggin is your email: {{ email }}<br>
invitation code: {{ code }}<br>
<a href="{{ url('fos_user_registration_register') }}">Click this link to inscribe</a> 
</p>

<p>
Once successfully inscribed, you can loggin into our Support Service site with your email and the password that you typed in the inscritpion process. 
<br>
<a href="{{ url('fos_user_security_login') }}">Click this link to login</a>
</p>
<p>
In case that you have any problem, please write to support@fujitsu-telecom.fr or contact us by calling 01.xx.xx.xx.xx .
</p>
<p>
Your Sincerely, <br>
Support Service Team <br>
Fujitsu Telecom France Telecom
</p>
