{% extends "FOSUserBundle::base.html.twig" %}

{% form_theme form theme %}

{% block fos_user_content %}
<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
    <fieldset>
        <legend>Registration</legend>
        {{ form_widget(form) }}
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </fieldset>
</form>
{% endblock %}
