{% extends "FOSUserBundle::base.html.twig" %}

{% block fos_user_content %}
<p>
    <div class="alert alert-error"> Sorry, your request is expired. Please click the following link to retry. <br>
    <a href="{{ path('fos_user_resetting_request') }}">click here to reset your password</a>
    </div>
</p>
<p><span class="label label-warning">Attention</span> With security issues considered, any password resetting request will be expired in three minutes. Please check your email box in time in order to reset your password.</p>
<p>If you still cannot reset your password, please contact <a href="mailto:support@fujitsu-telecom.fr">support@fujitsu-telecom.fr</a>.</p>
{% endblock %}
