{% extends "FTFSCrudBundle::layout.html.twig" %}

{% block crud %}
    {% block crud_box_title %}
    <div id="crud-box-title">
        {% if read_only is defined and read_only %}
        <h2>{{ (prefix~'.table.caption')|trans({}, 'crud') }}</h2>
        <form class="form-search pull-right">
            <div class="input-append">
                <input type="text" class="search-query input-medium" placeholder="search"><button type="submit" class="btn btn-primary btn-small"><i class="icon-search icon-white"></i></button>
            </div>
        </form>
        <br>
        <hr>
        {% else %}
        <h2>{{ (prefix~'.table.caption')|trans({}, 'crud') }}</h2>
        <hr>
        <a class="btn btn-success pull-left" href="{{ path(prefix~'_new') }}">
            <i class="icon-edit icon-white"></i>
            {{ (prefix~'.table.action.new')|trans({}, 'crud') }}
        </a>
        <form class="form-search pull-right">
            <div class="input-append">
                <input type="text" class="search-query input-medium" placeholder="search"><button type="submit" class="btn btn-primary btn-small"><i class="icon-search icon-white"></i></button>
            </div>
        </form>
        {% endif %}
        {% block crud_box_index_title_filter %}
        {% endblock %}
    </div><!-- end of crud-box-title -->
    <br>
    <br>
    <br>
    {% endblock crud_box_title %}

    {% block crud_box_content %}
    <div id="crud-box-content">
        {% block crud_box_index_content %}
        {% endblock %}
    </div><!-- end of crud-box-content -->
    {% endblock crud_box_content %}
{% endblock %}
