<form class="form-inline" method="POST" action="{{ action }}">
<table class="table"><tr>
<td>
{{ form_widget(form.methods) }}
</td>
<td>
<button type="submit" class="btn">Save changes</button>
</td>
</tr></table>
</form>
