.table-smart thead th, 
.table-smart td {
    vertical-align: middle;
}
.table-smart th {
    min-width: 84px;
}

table .tight {
    min-width: 21px;
}

table .normal {
    min-width: 84px;
}

table .extend {
    min-width: 248px;
}

.observation-history {
    border-style: solid;
}

.observation-send-by {
}

.observation-send-at {
}

.observation-content {
}
