{% extends '::menu.html.twig' %}
{% block menu_content %}
    <li class="nav-header">Preferences</li>
    <li class="navmenu-item"><a href="{{ path('ftfs_notificationbundle_preference_event_definition') }}"><i class="icon-wrench"></i> Notification Events</a></li>
    <li class="navmenu-item"><a href="{{ path('ftfs_notificationbundle_preference_event_catch_filter_default', { id : 1 }) }}"><i class="icon-wrench"></i> Default Notification Catch Filter</a></li>
    <li class="navmenu-item"><a href=""><i class="icon-wrench"></i> menu</a></li>
    <li class="navmenu-item"><a href=""><i class="icon-wrench"></i> menu</a></li>
    <li class="navmenu-item"><a href=""><i class="icon-wrench"></i> menu</a></li>
   
    {{ parent() }}
{% endblock %}
