{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
{% if is_granted('ROLE_CLIENT') %}
    {% include 'FTFSDashboardBundle:MyServiceRequest:edit_content_client.html.twig'%}
{% else %}
    <h1> error : you have to have role_client in order to see this page !</h1>
{% endif %}
{% endblock %}

