{% extends 'FTFSCrudBundle:Crud:show_content.html.twig' %}

{% block crud_actions_icons %}
    {% if entity.status == '20_unsent' %}
    <a class="btn btn-small" href="{{ path(prefix~'_send', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'.form.action.show.send.tooltip')|trans({}, 'crud') }}" data-placement="bottom">
        <i class="icon-envelope"></i>
    </a>
    {% endif %}
{% endblock %}

{% block crud_actions %}
    {% if entity.status == '20_unsent' %}
    <div class="btn-group">
        <a href="{{ path(prefix~'_send', { 'id' : entity.id }) }}" class="btn">
            <i class="icon-envelope"></i>
            {{ (prefix~'.form.action.show.send')|trans({}, 'crud') }}
        </a>
    </div>
    {% endif %}
{% endblock %}
