{% extends "FTFSDashboardBundle::layout.html.twig" %}

{% block body_content %}
{% if is_granted('ROLE_CLIENT') %}
    {% include 'FTFSDashboardBundle:MyServiceRequest:show_content_client.html.twig' 
        with { 'read_only' : (entity.status not in ['20_unsent', '10_rejected']) } %}
{% elseif is_granted('ROLE_AGENT') %}
    {% include 'FTFSDashboardBundle:MyServiceRequest:show_content_agent.html.twig' 
        with { 'read_only' : true } %}
{% else %}
    <h1> error : you have to be either role_agent or role_client in order to see this page !</h1>
    <p> Normally, you shouldn't be able to see this page. Please report this to your tech support. </p>
{% endif %}
{% endblock %}
