{% extends "FTFSServiceBundle:ServiceRequest:index_content_table.html.twig" %}

{% block operations %}
    {{ parent() }}
    <a href="{{ path(prefix~'_assign', { 'id' : entity.id }) }}" rel="tooltip" title="{{ (prefix~'_table_action_assign_tooltip')|replace('_', '.')|trans({}, 'crud') }}">
        <i class="icon-share"></i>
    </a>
{% endblock %}
